In [64]:
import pandas as pd
import numpy as np
from io import StringIO
import re
import random
from datetime import datetime
from datetime import timedelta
import time
%matplotlib inline

In [2]:
for_pd = StringIO()
with open('../data/accre-jobs-2020.csv') as accre:
    for line in accre:
        new_line = re.sub(r',', '|', line.rstrip(), count=12)
        print (new_line, file=for_pd)

for_pd.seek(0)

accre = pd.read_csv(for_pd, sep='|')[1000000:1005000]
print (accre)

            JOBID ACCOUNT      USER   REQMEM    USEDMEM     REQTIME  \
1000000  18616746     cms  cmslocal   5000Mn   1284.14M  2-00:00:00
1000001  18616752     cms  cmslocal   5000Mn   1275.16M  2-00:00:00
1000002  18616754     cms  cmslocal   5000Mn   1259.60M  2-00:00:00
1000003  18616757     cms  cmslocal   5000Mn   1271.18M  2-00:00:00
1000004  18616758     cms  cmslocal   5000Mn   1260.83M  2-00:00:00
...           ...     ...       ...      ...        ...         ...
1004995  18625828     cms  cmspilot  28000Mn  11730.53M  2-00:00:00
1004996  18625829     cms  cmspilot  28000Mn   4993.34M  2-00:00:00
1004997  18625830     cms  cmspilot  28000Mn   9823.94M  2-00:00:00
1004998  18625831     cms  cmspilot  28000Mn   5074.64M  2-00:00:00
1004999  18625832     cms  cmspilot  28000Mn   9819.73M  2-00:00:00

           USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST
1000000    00:15:35      1     1  production      0:0  COMPLETED   cn1423
1000001    00:11:41      1     1  production      0:0  COMPLETED   cn1424
1000002    00:15:35      1     1  production      0:0  COMPLETED   cn1311
1000003    00:15:36      1     1  production      0:0  COMPLETED   cn1311
1000004    00:15:35      1     1  production      0:0  COMPLETED    cn372
...             ...    ...   ...         ...      ...        ...      ...
1004995  1-18:30:30      1     4  production      0:0  COMPLETED   cn1212
1004996    03:02:21      1     4  production      0:0  COMPLETED   cn1215
1004997    16:47:29      1     4  production      0:0  COMPLETED   cn1216
1004998    06:07:29      1     4  production      0:0  COMPLETED   cn1217
1004999    23:22:20      1     4  production      0:0  COMPLETED   cn1205

[5000 rows x 13 columns]

In [3]:
# To fully randomizeimport pandas as pd
# import random

# The data to load
# f = "my_data.csv"

# Count the lines
# num_lines = sum(1 for l in open(for_pd))

# Sample size - in this case ~10%
# size = int(num_lines / 10)

# The row indices to skip - make sure 0 is not included to keep the header!
# skip_idx = random.sample(range(1, num_lines), num_lines - size)

# Read the data
# data = pd.read_csv(f, skiprows=skip_idx, ... )

In [4]:
accre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 1000000 to 1004999
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   JOBID      5000 non-null   object
 1   ACCOUNT    5000 non-null   object
 2   USER       5000 non-null   object
 3   REQMEM     5000 non-null   object
 4   USEDMEM    5000 non-null   object
 5   REQTIME    5000 non-null   object
 6   USEDTIME   5000 non-null   object
 7   NODES      5000 non-null   int64
 8   CPUS       5000 non-null   int64
 9   PARTITION  5000 non-null   object
 10  EXITCODE   5000 non-null   object
 11  STATE      5000 non-null   object
 12  NODELIST   5000 non-null   object
dtypes: int64(2), object(11)
memory usage: 507.9+ KB

In [5]:
accre.describe

<bound method NDFrame.describe of             JOBID ACCOUNT      USER   REQMEM    USEDMEM     REQTIME  \
1000000  18616746     cms  cmslocal   5000Mn   1284.14M  2-00:00:00
1000001  18616752     cms  cmslocal   5000Mn   1275.16M  2-00:00:00
1000002  18616754     cms  cmslocal   5000Mn   1259.60M  2-00:00:00
1000003  18616757     cms  cmslocal   5000Mn   1271.18M  2-00:00:00
1000004  18616758     cms  cmslocal   5000Mn   1260.83M  2-00:00:00
...           ...     ...       ...      ...        ...         ...
1004995  18625828     cms  cmspilot  28000Mn  11730.53M  2-00:00:00
1004996  18625829     cms  cmspilot  28000Mn   4993.34M  2-00:00:00
1004997  18625830     cms  cmspilot  28000Mn   9823.94M  2-00:00:00
1004998  18625831     cms  cmspilot  28000Mn   5074.64M  2-00:00:00
1004999  18625832     cms  cmspilot  28000Mn   9819.73M  2-00:00:00

           USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST
1000000    00:15:35      1     1  production      0:0  COMPLETED   cn1423
1000001    00:11:41      1     1  production      0:0  COMPLETED   cn1424
1000002    00:15:35      1     1  production      0:0  COMPLETED   cn1311
1000003    00:15:36      1     1  production      0:0  COMPLETED   cn1311
1000004    00:15:35      1     1  production      0:0  COMPLETED    cn372
...             ...    ...   ...         ...      ...        ...      ...
1004995  1-18:30:30      1     4  production      0:0  COMPLETED   cn1212
1004996    03:02:21      1     4  production      0:0  COMPLETED   cn1215
1004997    16:47:29      1     4  production      0:0  COMPLETED   cn1216
1004998    06:07:29      1     4  production      0:0  COMPLETED   cn1217
1004999    23:22:20      1     4  production      0:0  COMPLETED   cn1205

[5000 rows x 13 columns]>

In [6]:
accre.PARTITION.value_counts()

production    4402
nogpfs         492
sam             78
pascal          22
maxwell          6
Name: PARTITION, dtype: int64

In [7]:
accre.STATE.value_counts()

COMPLETED    4997
CANCELLED       3
Name: STATE, dtype: int64

In [8]:
test_split = accre.loc[1000000,'REQMEM']
test_split

'5000Mn'

In [9]:
re.findall(r'..$', test_split)

['Mn']

In [10]:
re.findall(r'\d+', test_split)

['5000']

In [11]:
re.findall(r'\D+', test_split)

['Mn']

In [12]:
accre['REQMEM_NO'] = accre['REQMEM'].str.extract('(\d+)')

In [13]:
accre.head(200)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,REQMEM_NO
1000000,18616746,cms,cmslocal,5000Mn,1284.14M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1423,5000
1000001,18616752,cms,cmslocal,5000Mn,1275.16M,2-00:00:00,00:11:41,1,1,production,0:0,COMPLETED,cn1424,5000
1000002,18616754,cms,cmslocal,5000Mn,1259.60M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1311,5000
1000003,18616757,cms,cmslocal,5000Mn,1271.18M,2-00:00:00,00:15:36,1,1,production,0:0,COMPLETED,cn1311,5000
1000004,18616758,cms,cmslocal,5000Mn,1260.83M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn372,5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000195,18617243_6,wood,kelly,8192Mn,1076.20M,7-00:00:00,01:35:28,1,1,production,0:0,COMPLETED,cn1426,8192
1000196,18617243_7,wood,kelly,8192Mn,1076.45M,7-00:00:00,01:35:27,1,1,production,0:0,COMPLETED,cn1303,8192
1000197,18617243_8,wood,kelly,8192Mn,1075.65M,7-00:00:00,01:35:28,1,1,production,0:0,COMPLETED,cn1304,8192
1000198,18617243_9,wood,kelly,8192Mn,1075.57M,7-00:00:00,01:35:28,1,1,production,0:0,COMPLETED,cn1345,8192
1000199,18617245,cms,cmslocal,21875Mn,0,2-00:00:00,00:00:03,1,8,nogpfs,0:0,COMPLETED,ng1033,21875

In [14]:
accre['REQMEM_TYPE'] = accre['REQMEM'].str.extract('(\D+)')

In [15]:
accre['REQMEM_NO'] = pd.to_numeric(accre['REQMEM_NO'])

In [16]:
accre[accre['REQMEM_TYPE'] == 'Mc']

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,REQMEM_NO,REQMEM_TYPE
1000006,18616763,cmsadmin,autocms,2048Mc,828.82M,12:00:00,00:05:08,1,1,production,0:0,COMPLETED,cn1122,2048,Mc
1000054,18616942,cmsadmin,autocms,2048Mc,860.54M,12:00:00,00:05:25,1,1,production,0:0,COMPLETED,cn430,2048,Mc
1000165,18617189,pasilla,earlean,3072Mc,197.12M,2-00:00:00,00:03:07,1,10,production,0:15,CANCELLED,cn1459,3072,Mc
1000166,18617190,cmsadmin,autocms,2048Mc,817.76M,12:00:00,00:02:42,1,1,production,0:0,COMPLETED,cn1133,2048,Mc
1000203,18617244_1,casaba,anne,8192Mc,1010.52M,02:30:00,02:30:15,1,1,production,0:0,COMPLETED,cn1335,8192,Mc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004883,18625524_97,cep,gemma,5120Mc,0,1-15:00:00,00:00:05,1,1,production,0:0,COMPLETED,cn1261,5120,Mc
1004884,18625524_98,cep,gemma,5120Mc,0,1-15:00:00,00:00:05,1,1,production,0:0,COMPLETED,cn1261,5120,Mc
1004885,18625524_99,cep,gemma,5120Mc,0,1-15:00:00,00:00:04,1,1,production,0:0,COMPLETED,cn1308,5120,Mc
1004887,18625526,cmsadmin,autocms,2048Mc,811.26M,12:00:00,00:03:01,1,1,production,0:0,COMPLETED,cn1084,2048,Mc
1004961,18625793,cmsadmin,autocms,2048Mc,797.31M,12:00:00,00:03:44,1,1,production,0:0,COMPLETED,cn1121,2048,Mc

In [17]:
accre.head(10)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,REQMEM_NO,REQMEM_TYPE
1000000,18616746,cms,cmslocal,5000Mn,1284.14M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1423,5000,Mn
1000001,18616752,cms,cmslocal,5000Mn,1275.16M,2-00:00:00,00:11:41,1,1,production,0:0,COMPLETED,cn1424,5000,Mn
1000002,18616754,cms,cmslocal,5000Mn,1259.60M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1311,5000,Mn
1000003,18616757,cms,cmslocal,5000Mn,1271.18M,2-00:00:00,00:15:36,1,1,production,0:0,COMPLETED,cn1311,5000,Mn
1000004,18616758,cms,cmslocal,5000Mn,1260.83M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn372,5000,Mn
1000005,18616762,cms,cmslocal,5000Mn,1258.38M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn361,5000,Mn
1000006,18616763,cmsadmin,autocms,2048Mc,828.82M,12:00:00,00:05:08,1,1,production,0:0,COMPLETED,cn1122,2048,Mc
1000007,18616858,cms,cmspilot,28000Mn,2846.65M,2-00:00:00,01:12:11,1,4,production,0:0,COMPLETED,cn1299,28000,Mn
1000008,18616859,cms,cmspilot,28000Mn,9838.76M,2-00:00:00,1-22:25:09,1,4,production,0:0,COMPLETED,cn1299,28000,Mn
1000009,18616860,cms,cmspilot,28000Mn,4915.84M,2-00:00:00,20:12:20,1,4,production,0:0,COMPLETED,cn1356,28000,Mn

In [18]:
test_mn = accre.loc[1000000, ['REQMEM_NO', 'REQMEM', 'NODES', 'CPUS', 'REQMEM_TYPE']]
test_mn['CPUS'] = pd.to_numeric(1)
test_mn

REQMEM_NO        5000
REQMEM         5000Mn
NODES               1
CPUS                1
REQMEM_TYPE        Mn
Name: 1000000, dtype: object

In [19]:
test_mc = accre.loc[1000006, ['REQMEM_NO', 'REQMEM', 'NODES', 'CPUS', 'REQMEM_TYPE']]
test_mc['CPUS'] = pd.to_numeric(1)
test_mc

REQMEM_NO        2048
REQMEM         2048Mc
NODES               1
CPUS                1
REQMEM_TYPE        Mc
Name: 1000006, dtype: object

In [20]:
if test_mc['REQMEM_TYPE'] == 'Mc':
    print(test_mc['REQMEM_NO'])
elif test_mc['REQMEM_TYPE'] == 'Mn':
    print(test_mc['REQMEM_NO'] * (test_mc['NODES']/test_mc['CPUS']))

2048

In [21]:
if test_mn['REQMEM_TYPE'] == 'Mc':
    print(test_mn['REQMEM_NO'])
elif test_mn['REQMEM_TYPE'] == 'Mn':
    print(test_mn['REQMEM_NO'] * (test_mn['NODES']/test_mn['CPUS']))

5000.0

The logic we need:
* IF there are 5 CPUs per 1 Node
* AND REQMEM in mn = 15M
* THEN REQMEM per mc = 1 / 5 * 15 = 3M per c = node# / CPU# * mn#
* ELSE REQMEM_NO  

Possible code (draft, incomplete for loop) =  

    for row in accre:
    accre['REQMEM_CVT'] = 0
    
    if REQMEM_TYPE == 'Mc':
        accre['REQMEM_CVT'] = accre['REQMEM_NO']
        
    elif REQMEM_TYPE == 'Mn':
        accre['REQMEM_CVT'] = (accre['REQMEM_NO'] * (accre['NODES']/accre['CPUS']))``

In [22]:
accre['REQMEM_PER_CORE'] = np.where((accre['REQMEM_TYPE'] == 'Mn'), \
                                      (accre['REQMEM_NO'] * (accre['NODES']/accre['CPUS'])), \
                                       accre['REQMEM_NO'])

accre.head(200)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,REQMEM_NO,REQMEM_TYPE,REQMEM_PER_CORE
1000000,18616746,cms,cmslocal,5000Mn,1284.14M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1423,5000,Mn,5000.000
1000001,18616752,cms,cmslocal,5000Mn,1275.16M,2-00:00:00,00:11:41,1,1,production,0:0,COMPLETED,cn1424,5000,Mn,5000.000
1000002,18616754,cms,cmslocal,5000Mn,1259.60M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1311,5000,Mn,5000.000
1000003,18616757,cms,cmslocal,5000Mn,1271.18M,2-00:00:00,00:15:36,1,1,production,0:0,COMPLETED,cn1311,5000,Mn,5000.000
1000004,18616758,cms,cmslocal,5000Mn,1260.83M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn372,5000,Mn,5000.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000195,18617243_6,wood,kelly,8192Mn,1076.20M,7-00:00:00,01:35:28,1,1,production,0:0,COMPLETED,cn1426,8192,Mn,8192.000
1000196,18617243_7,wood,kelly,8192Mn,1076.45M,7-00:00:00,01:35:27,1,1,production,0:0,COMPLETED,cn1303,8192,Mn,8192.000
1000197,18617243_8,wood,kelly,8192Mn,1075.65M,7-00:00:00,01:35:28,1,1,production,0:0,COMPLETED,cn1304,8192,Mn,8192.000
1000198,18617243_9,wood,kelly,8192Mn,1075.57M,7-00:00:00,01:35:28,1,1,production,0:0,COMPLETED,cn1345,8192,Mn,8192.000
1000199,18617245,cms,cmslocal,21875Mn,0,2-00:00:00,00:00:03,1,8,nogpfs,0:0,COMPLETED,ng1033,21875,Mn,2734.375

In [23]:
accre['USEDMEM_TYPE'] = accre['USEDMEM'].str.extract('(\D$)')

In [24]:
accre['USEDMEM_NO'] = accre['USEDMEM'].str.extract('(\d+)')

In [25]:
accre.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,REQMEM_NO,REQMEM_TYPE,REQMEM_PER_CORE,USEDMEM_TYPE,USEDMEM_NO
1000000,18616746,cms,cmslocal,5000Mn,1284.14M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1423,5000,Mn,5000.0,M,1284
1000001,18616752,cms,cmslocal,5000Mn,1275.16M,2-00:00:00,00:11:41,1,1,production,0:0,COMPLETED,cn1424,5000,Mn,5000.0,M,1275
1000002,18616754,cms,cmslocal,5000Mn,1259.60M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1311,5000,Mn,5000.0,M,1259
1000003,18616757,cms,cmslocal,5000Mn,1271.18M,2-00:00:00,00:15:36,1,1,production,0:0,COMPLETED,cn1311,5000,Mn,5000.0,M,1271
1000004,18616758,cms,cmslocal,5000Mn,1260.83M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn372,5000,Mn,5000.0,M,1260

In [26]:
accre['USEDMEM_NO'] = pd.to_numeric(accre['USEDMEM_NO'])

In [31]:
accre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 1000000 to 1004999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   JOBID             5000 non-null   object
 1   ACCOUNT           5000 non-null   object
 2   USER              5000 non-null   object
 3   REQMEM            5000 non-null   object
 4   USEDMEM           5000 non-null   object
 5   REQTIME           5000 non-null   object
 6   USEDTIME          5000 non-null   object
 7   NODES             5000 non-null   int64
 8   CPUS              5000 non-null   int64
 9   PARTITION         5000 non-null   object
 10  EXITCODE          5000 non-null   object
 11  STATE             5000 non-null   object
 12  NODELIST          5000 non-null   object
 13  REQMEM_NO         5000 non-null   int64
 14  REQMEM_TYPE       5000 non-null   object
 15  REQMEM_PER_CORE   5000 non-null   float64
 16  USEDMEM_TYPE      4193 non-null   object
 17  USEDMEM_NO        5000 non-null   int64
 18  USEDMEM_PER_CORE  5000 non-null   float64
dtypes: float64(2), int64(4), object(13)
memory usage: 742.3+ KB

In [28]:
accre['USEDMEM_PER_CORE'] = accre['USEDMEM_NO'] / accre['CPUS']

In [59]:
accre.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,...,NODELIST,REQMEM_NO,REQMEM_TYPE,REQMEM_PER_CORE,USEDMEM_TYPE,USEDMEM_NO,USEDMEM_PER_CORE,REQTIME_DAYS,USEDTIME_DAYS,REQTIME_TOT_DAYS
1000000,18616746,cms,cmslocal,5000Mn,1284.14M,2-00:00:00,00:15:35,1,1,production,...,cn1423,5000,Mn,5000.0,M,1284,1284.0,2,NaN,48.0
1000001,18616752,cms,cmslocal,5000Mn,1275.16M,2-00:00:00,00:11:41,1,1,production,...,cn1424,5000,Mn,5000.0,M,1275,1275.0,2,NaN,48.0
1000002,18616754,cms,cmslocal,5000Mn,1259.60M,2-00:00:00,00:15:35,1,1,production,...,cn1311,5000,Mn,5000.0,M,1259,1259.0,2,NaN,48.0
1000003,18616757,cms,cmslocal,5000Mn,1271.18M,2-00:00:00,00:15:36,1,1,production,...,cn1311,5000,Mn,5000.0,M,1271,1271.0,2,NaN,48.0
1000004,18616758,cms,cmslocal,5000Mn,1260.83M,2-00:00:00,00:15:35,1,1,production,...,cn372,5000,Mn,5000.0,M,1260,1260.0,2,NaN,48.0

In [56]:
accre['REQTIME_DAYS'] = accre['REQTIME'].str.extract('(\d+)-')

In [65]:
accre['USEDTIME_DAYS'] = accre['USEDTIME'].str.extract('(\d+)-')

In [ ]:
accre['REQTIME_DAYS'] = accre['REQTIME_DAYS'].fillna(0)

In [58]:
accre['REQTIME_TOT_HR'] = pd.to_numeric(accre['REQTIME_DAYS'])*24

In [54]:
accre['REQTIME_TOT_HR'] = accre['REQTIME_TOT_DAYS'].to_string()

In [60]:
failed = accre[accre['STATE'] == 'FAILED']

In [61]:
failed.head()

Empty DataFrame
Columns: [JOBID, ACCOUNT, USER, REQMEM, USEDMEM, REQTIME, USEDTIME, NODES, CPUS, PARTITION, EXITCODE, STATE, NODELIST, REQMEM_NO, REQMEM_TYPE, REQMEM_PER_CORE, USEDMEM_TYPE, USEDMEM_NO, USEDMEM_PER_CORE, REQTIME_DAYS, USEDTIME_DAYS, REQTIME_TOT_DAYS]
Index: []

[0 rows x 22 columns]

In [63]:
accre.STATE.value_counts()

COMPLETED    4997
CANCELLED       3
Name: STATE, dtype: int64