In [1]:
import pandas as pd
import numpy as np
from io import StringIO
import re
import random
%matplotlib inline

In [2]:
for_pd = StringIO()
with open('../data/accre-jobs-2020.csv') as accre:
    for line in accre:
        new_line = re.sub(r',', '|', line.rstrip(), count=12)
        print (new_line, file=for_pd)

for_pd.seek(0)

accre_subset = pd.read_csv(for_pd, sep='|')[1000000:1200000]
print (accre_subset)

            JOBID ACCOUNT      USER   REQMEM    USEDMEM     REQTIME  USEDTIME  \
1000000  18616746     cms  cmslocal   5000Mn   1284.14M  2-00:00:00  00:15:35
1000001  18616752     cms  cmslocal   5000Mn   1275.16M  2-00:00:00  00:11:41
1000002  18616754     cms  cmslocal   5000Mn   1259.60M  2-00:00:00  00:15:35
1000003  18616757     cms  cmslocal   5000Mn   1271.18M  2-00:00:00  00:15:36
1000004  18616758     cms  cmslocal   5000Mn   1260.83M  2-00:00:00  00:15:35
...           ...     ...       ...      ...        ...         ...       ...
1199995  19018067   round   solomon  40960Mn  34678.40M    23:00:00  10:32:23
1199996  19018068   round   solomon  40960Mn  34638.94M    23:00:00  02:15:35
1199997  19018069   round   solomon  40960Mn  34499.11M    23:00:00  05:25:33
1199998  19018070   round   solomon  40960Mn  34817.77M    23:00:00  02:16:56
1199999  19018071   round   solomon  40960Mn  34489.29M    23:00:00  01:50:30

         NODES  CPUS   PARTITION EXITCODE      STATE NODELIST
1000000      1     1  production      0:0  COMPLETED   cn1423
1000001      1     1  production      0:0  COMPLETED   cn1424
1000002      1     1  production      0:0  COMPLETED   cn1311
1000003      1     1  production      0:0  COMPLETED   cn1311
1000004      1     1  production      0:0  COMPLETED    cn372
...        ...   ...         ...      ...        ...      ...
1199995      1     8  production      0:0  COMPLETED   cn1315
1199996      1     8  production      0:0  COMPLETED   cn1371
1199997      1     8  production      0:0  COMPLETED   cn1420
1199998      1     8  production      0:0  COMPLETED   cn1379
1199999      1     8  production      0:0  COMPLETED   cn1404

[200000 rows x 13 columns]

In [3]:
# To fully randomizeimport pandas as pd
# import random

# The data to load
# f = "my_data.csv"

# Count the lines
# num_lines = sum(1 for l in open(for_pd))

# Sample size - in this case ~10%
# size = int(num_lines / 10)

# The row indices to skip - make sure 0 is not included to keep the header!
# skip_idx = random.sample(range(1, num_lines), num_lines - size)

# Read the data
# data = pd.read_csv(f, skiprows=skip_idx, ... )

In [8]:
accre_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1000000 to 1199999
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   JOBID      200000 non-null  object
 1   ACCOUNT    200000 non-null  object
 2   USER       200000 non-null  object
 3   REQMEM     200000 non-null  object
 4   USEDMEM    200000 non-null  object
 5   REQTIME    200000 non-null  object
 6   USEDTIME   200000 non-null  object
 7   NODES      200000 non-null  int64
 8   CPUS       200000 non-null  int64
 9   PARTITION  200000 non-null  object
 10  EXITCODE   200000 non-null  object
 11  STATE      200000 non-null  object
 12  NODELIST   200000 non-null  object
dtypes: int64(2), object(11)
memory usage: 19.8+ MB

In [ ]:
accre_subset.describe

In [5]:
accre_subset.PARTITION.value_counts()

production        175076
nogpfs             16706
pascal              3533
sam                 3214
turing              1128
debug                194
maxwell              132
cgw-dougherty1         9
cgw-capra1             5
cgw-cqs1               2
cgw-cqs3               1
Name: PARTITION, dtype: int64

In [6]:
accre_subset.STATE.value_counts()

COMPLETED              199707
CANCELLED                 261
FAILED                     23
OUT_OF_MEMORY               5
CANCELLED by 200557         2
CANCELLED by 782611         1
TIMEOUT                     1
Name: STATE, dtype: int64

In [10]:
test_split = accre_subset.loc[1000000,'REQMEM']
test_split

'5000Mn'

In [21]:
re.findall(r'..$', test_split)

['Mn']

In [23]:
re.findall(r'\d+', test_split)

['5000']

In [25]:
re.findall(r'\D+', test_split)

['Mn']

In [26]:
accre_subset['REQMEM_NO'] = accre_subset['REQMEM'].str.extract('(\d+)')

In [30]:
accre_subset.head(200)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,REQMEM_NO,REQMEM_TYPE
1000000,18616746,cms,cmslocal,5000Mn,1284.14M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1423,5000,Mn
1000001,18616752,cms,cmslocal,5000Mn,1275.16M,2-00:00:00,00:11:41,1,1,production,0:0,COMPLETED,cn1424,5000,Mn
1000002,18616754,cms,cmslocal,5000Mn,1259.60M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1311,5000,Mn
1000003,18616757,cms,cmslocal,5000Mn,1271.18M,2-00:00:00,00:15:36,1,1,production,0:0,COMPLETED,cn1311,5000,Mn
1000004,18616758,cms,cmslocal,5000Mn,1260.83M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn372,5000,Mn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000195,18617243_6,wood,kelly,8192Mn,1076.20M,7-00:00:00,01:35:28,1,1,production,0:0,COMPLETED,cn1426,8192,Mn
1000196,18617243_7,wood,kelly,8192Mn,1076.45M,7-00:00:00,01:35:27,1,1,production,0:0,COMPLETED,cn1303,8192,Mn
1000197,18617243_8,wood,kelly,8192Mn,1075.65M,7-00:00:00,01:35:28,1,1,production,0:0,COMPLETED,cn1304,8192,Mn
1000198,18617243_9,wood,kelly,8192Mn,1075.57M,7-00:00:00,01:35:28,1,1,production,0:0,COMPLETED,cn1345,8192,Mn
1000199,18617245,cms,cmslocal,21875Mn,0,2-00:00:00,00:00:03,1,8,nogpfs,0:0,COMPLETED,ng1033,21875,Mn

In [29]:
accre_subset['REQMEM_TYPE'] = accre_subset['REQMEM'].str.extract('(\D+)')

In [78]:
accre_subset['REQMEM_NO'] = pd.to_numeric(accre_subset['REQMEM_NO'])

In [74]:
accre_subset[accre_subset['REQMEM_TYPE'] == 'Mc']

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,REQMEM_NO,REQMEM_TYPE
1000006,18616763,cmsadmin,autocms,2048Mc,828.82M,12:00:00,00:05:08,1,1,production,0:0,COMPLETED,cn1122,2048,Mc
1000054,18616942,cmsadmin,autocms,2048Mc,860.54M,12:00:00,00:05:25,1,1,production,0:0,COMPLETED,cn430,2048,Mc
1000165,18617189,pasilla,earlean,3072Mc,197.12M,2-00:00:00,00:03:07,1,10,production,0:15,CANCELLED,cn1459,3072,Mc
1000166,18617190,cmsadmin,autocms,2048Mc,817.76M,12:00:00,00:02:42,1,1,production,0:0,COMPLETED,cn1133,2048,Mc
1000203,18617244_1,casaba,anne,8192Mc,1010.52M,02:30:00,02:30:15,1,1,production,0:0,COMPLETED,cn1335,8192,Mc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1196506,19011073,cmsadmin,autocms,2048Mc,964.95M,12:00:00,00:04:53,1,1,production,0:0,COMPLETED,cn449,2048,Mc
1196711,19014055,cmsadmin,autocms,2048Mc,978.86M,12:00:00,00:05:36,1,1,production,0:0,COMPLETED,cn449,2048,Mc
1196721,19014177,cmsadmin,autocms,2048Mc,942.29M,12:00:00,00:03:24,1,1,production,0:0,COMPLETED,cn449,2048,Mc
1197250,19014859,cmsadmin,autocms,2048Mc,971.62M,12:00:00,00:05:24,1,1,production,0:0,COMPLETED,cn449,2048,Mc
1198819,19016715,cmsadmin,autocms,2048Mc,978.81M,12:00:00,00:04:06,1,1,production,0:0,COMPLETED,cn449,2048,Mc

In [55]:
accre_subset.head(10)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,REQMEM_NO,REQMEM_TYPE
1000000,18616746,cms,cmslocal,5000Mn,1284.14M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1423,5000,Mn
1000001,18616752,cms,cmslocal,5000Mn,1275.16M,2-00:00:00,00:11:41,1,1,production,0:0,COMPLETED,cn1424,5000,Mn
1000002,18616754,cms,cmslocal,5000Mn,1259.60M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1311,5000,Mn
1000003,18616757,cms,cmslocal,5000Mn,1271.18M,2-00:00:00,00:15:36,1,1,production,0:0,COMPLETED,cn1311,5000,Mn
1000004,18616758,cms,cmslocal,5000Mn,1260.83M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn372,5000,Mn
1000005,18616762,cms,cmslocal,5000Mn,1258.38M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn361,5000,Mn
1000006,18616763,cmsadmin,autocms,2048Mc,828.82M,12:00:00,00:05:08,1,1,production,0:0,COMPLETED,cn1122,2048,Mc
1000007,18616858,cms,cmspilot,28000Mn,2846.65M,2-00:00:00,01:12:11,1,4,production,0:0,COMPLETED,cn1299,28000,Mn
1000008,18616859,cms,cmspilot,28000Mn,9838.76M,2-00:00:00,1-22:25:09,1,4,production,0:0,COMPLETED,cn1299,28000,Mn
1000009,18616860,cms,cmspilot,28000Mn,4915.84M,2-00:00:00,20:12:20,1,4,production,0:0,COMPLETED,cn1356,28000,Mn

In [93]:
test_mn = accre_subset.loc[1000000, ['REQMEM_NO', 'REQMEM', 'NODES', 'CPUS', 'REQMEM_TYPE']]
test_mn['CPUS'] = pd.to_numeric(1)
test_mn

REQMEM_NO        5000
REQMEM         5000Mn
NODES               1
CPUS                1
REQMEM_TYPE        Mn
Name: 1000000, dtype: object

In [94]:
test_mc = accre_subset.loc[1000006, ['REQMEM_NO', 'REQMEM', 'NODES', 'CPUS', 'REQMEM_TYPE']]
test_mc['CPUS'] = pd.to_numeric(1)
test_mc

REQMEM_NO        2048
REQMEM         2048Mc
NODES               1
CPUS                1
REQMEM_TYPE        Mc
Name: 1000006, dtype: object

In [95]:
if test_mc['REQMEM_TYPE'] == 'Mc':
    print(test_mc['REQMEM_NO'])
elif test_mc['REQMEM_TYPE'] == 'Mn':
    print(test_mc['REQMEM_NO'] * (test_mc['NODES']/test_mc['CPUS']))

2048

In [96]:
if test_mn['REQMEM_TYPE'] == 'Mc':
    print(test_mn['REQMEM_NO'])
elif test_mn['REQMEM_TYPE'] == 'Mn':
    print(test_mn['REQMEM_NO'] * (test_mn['NODES']/test_mn['CPUS']))

5000.0

IF there are 5 CPUs per 1 Node
And REQMEM in mn = 15M
THEN REQMEM per mc = 1 / 5 * 15 = 3M per c = node# / CPU# * mn#

In [100]:
for row in accre_subset:
    accre_subset['REQMEM_CVT'] = 0
    
    if REQMEM_TYPE == 'Mc':
        accre_subset['REQMEM_CVT'] = accre_subset['REQMEM_NO']
        
    elif REQMEM_TYPE == 'Mn':
        accre_subset['REQMEM_CVT'] = (accre_subset['REQMEM_NO'] * (accre_subset['NODES']/accre_subset['CPUS']))

NameError: name 'REQMEM_TYPE' is not defined

In [79]:
accre_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1000000 to 1199999
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   JOBID        200000 non-null  object
 1   ACCOUNT      200000 non-null  object
 2   USER         200000 non-null  object
 3   REQMEM       200000 non-null  object
 4   USEDMEM      200000 non-null  object
 5   REQTIME      200000 non-null  object
 6   USEDTIME     200000 non-null  object
 7   NODES        200000 non-null  int64
 8   CPUS         200000 non-null  int64
 9   PARTITION    200000 non-null  object
 10  EXITCODE     200000 non-null  object
 11  STATE        200000 non-null  object
 12  NODELIST     200000 non-null  object
 13  REQMEM_NO    200000 non-null  int64
 14  REQMEM_TYPE  200000 non-null  object
dtypes: int64(3), object(12)
memory usage: 22.9+ MB