In [1]:
# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import scipy.stats as stats
# import statsmodels.api as sm

# %matplotlib inline

In [2]:
import pandas as pd
import numpy as np
from io import StringIO
import re

In [3]:
for_pd = StringIO()
with open('../data/accre-jobs-2020.csv') as accre:
    for line in accre:
        new_line = re.sub(r',', '|', line.rstrip(), count=12)
        print (new_line, file=for_pd)

for_pd.seek(0)

accre_subset = pd.read_csv(for_pd, sep='|')[1000000:1200000]
print(accre_subset.head())

            JOBID ACCOUNT      USER  REQMEM   USEDMEM     REQTIME  USEDTIME  \
1000000  18616746     cms  cmslocal  5000Mn  1284.14M  2-00:00:00  00:15:35
1000001  18616752     cms  cmslocal  5000Mn  1275.16M  2-00:00:00  00:11:41
1000002  18616754     cms  cmslocal  5000Mn  1259.60M  2-00:00:00  00:15:35
1000003  18616757     cms  cmslocal  5000Mn  1271.18M  2-00:00:00  00:15:36
1000004  18616758     cms  cmslocal  5000Mn  1260.83M  2-00:00:00  00:15:35

         NODES  CPUS   PARTITION EXITCODE      STATE NODELIST
1000000      1     1  production      0:0  COMPLETED   cn1423
1000001      1     1  production      0:0  COMPLETED   cn1424
1000002      1     1  production      0:0  COMPLETED   cn1311
1000003      1     1  production      0:0  COMPLETED   cn1311
1000004      1     1  production      0:0  COMPLETED    cn372

In [4]:
accre_subset.tail()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
1199995,19018067,round,solomon,40960Mn,34678.40M,23:00:00,10:32:23,1,8,production,0:0,COMPLETED,cn1315
1199996,19018068,round,solomon,40960Mn,34638.94M,23:00:00,02:15:35,1,8,production,0:0,COMPLETED,cn1371
1199997,19018069,round,solomon,40960Mn,34499.11M,23:00:00,05:25:33,1,8,production,0:0,COMPLETED,cn1420
1199998,19018070,round,solomon,40960Mn,34817.77M,23:00:00,02:16:56,1,8,production,0:0,COMPLETED,cn1379
1199999,19018071,round,solomon,40960Mn,34489.29M,23:00:00,01:50:30,1,8,production,0:0,COMPLETED,cn1404

In [5]:
accre_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1000000 to 1199999
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   JOBID      200000 non-null  object
 1   ACCOUNT    200000 non-null  object
 2   USER       200000 non-null  object
 3   REQMEM     200000 non-null  object
 4   USEDMEM    200000 non-null  object
 5   REQTIME    200000 non-null  object
 6   USEDTIME   200000 non-null  object
 7   NODES      200000 non-null  int64
 8   CPUS       200000 non-null  int64
 9   PARTITION  200000 non-null  object
 10  EXITCODE   200000 non-null  object
 11  STATE      200000 non-null  object
 12  NODELIST   200000 non-null  object
dtypes: int64(2), object(11)
memory usage: 19.8+ MB

In [6]:
accre_subset['NODELIST'].value_counts()

vm-cms-sam-pri                         1877
cn1266                                 1576
vm-cms-sam-sec                         1337
cn1367                                 1016
cn1441                                  928
                                       ...
cn[1289-1292]                             1
cn[1453,1467]                             1
cn[1467,1469]                             1
cn[1298,1421]                             1
cn[327-328,411-414,472-473,493-498]       1
Name: NODELIST, Length: 887, dtype: int64

In [7]:
accre_subset['REQMEM_NO'] = 'REQMEM'.split

In [8]:
test_split = accre_subset.loc[1000000, 'REQMEM']
test_split

'5000Mn'

In [9]:
re.findall(r"\d+", test_split)

['5000']

In [12]:
re.findall(r"..$", test_split)
# re.findall(r"\D+", test_split) also works

['Mn']

In [13]:
accre_subset['REQMEM_NO'] = accre_subset['REQMEM'].str.extract('(\d+)')

In [14]:
accre_subset['REQMEM_TYP'] = accre_subset['REQMEM'].str.extract('(..$)')

In [28]:
accre_subset.head(10)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,REQMEM_NO,REQMEM_TYP
1000000,18616746,cms,cmslocal,5000Mn,1284.14M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1423,5000,Mn
1000001,18616752,cms,cmslocal,5000Mn,1275.16M,2-00:00:00,00:11:41,1,1,production,0:0,COMPLETED,cn1424,5000,Mn
1000002,18616754,cms,cmslocal,5000Mn,1259.60M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn1311,5000,Mn
1000003,18616757,cms,cmslocal,5000Mn,1271.18M,2-00:00:00,00:15:36,1,1,production,0:0,COMPLETED,cn1311,5000,Mn
1000004,18616758,cms,cmslocal,5000Mn,1260.83M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn372,5000,Mn
1000005,18616762,cms,cmslocal,5000Mn,1258.38M,2-00:00:00,00:15:35,1,1,production,0:0,COMPLETED,cn361,5000,Mn
1000006,18616763,cmsadmin,autocms,2048Mc,828.82M,12:00:00,00:05:08,1,1,production,0:0,COMPLETED,cn1122,2048,Mc
1000007,18616858,cms,cmspilot,28000Mn,2846.65M,2-00:00:00,01:12:11,1,4,production,0:0,COMPLETED,cn1299,28000,Mn
1000008,18616859,cms,cmspilot,28000Mn,9838.76M,2-00:00:00,1-22:25:09,1,4,production,0:0,COMPLETED,cn1299,28000,Mn
1000009,18616860,cms,cmspilot,28000Mn,4915.84M,2-00:00:00,20:12:20,1,4,production,0:0,COMPLETED,cn1356,28000,Mn

In [16]:
accre_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1000000 to 1199999
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   JOBID       200000 non-null  object
 1   ACCOUNT     200000 non-null  object
 2   USER        200000 non-null  object
 3   REQMEM      200000 non-null  object
 4   USEDMEM     200000 non-null  object
 5   REQTIME     200000 non-null  object
 6   USEDTIME    200000 non-null  object
 7   NODES       200000 non-null  int64
 8   CPUS        200000 non-null  int64
 9   PARTITION   200000 non-null  object
 10  EXITCODE    200000 non-null  object
 11  STATE       200000 non-null  object
 12  NODELIST    200000 non-null  object
 13  REQMEM_NO   200000 non-null  object
 14  REQMEM_TYP  200000 non-null  object
dtypes: int64(2), object(13)
memory usage: 22.9+ MB

In [17]:
pd.to_numeric(accre_subset['REQMEM_NO'])

1000000     5000
1000001     5000
1000002     5000
1000003     5000
1000004     5000
           ...
1199995    40960
1199996    40960
1199997    40960
1199998    40960
1199999    40960
Name: REQMEM_NO, Length: 200000, dtype: int64

In [24]:
accre_subset[accre_subset['REQMEM_TYP'] == 'Mn']
test_mc = accre_subset.loc[1000006, 'REQMEM_NO']
test_mn = accre_subset.loc[1000000,'REQMEM_NO']

In [26]:
test_mc

'2048'

In [27]:
test_mn

'5000'

In [30]:
test_mn = accre_subset.loc[1000000,['REQMEM_NO', 'REQMEM', 'NODES', 'CPUS', 'REQMEM_TYP']]
test_mn[]
test_mn

REQMEM_NO       5000
REQMEM        5000Mn
NODES              1
CPUS               1
REQMEM_TYP        Mn
Name: 1000000, dtype: object

In [31]:
test_mc = accre_subset.loc[1000006,['REQMEM_NO', 'REQMEM', 'NODES', 'CPUS', 'REQMEM_TYP']]
test_mc

REQMEM_NO       2048
REQMEM        2048Mc
NODES              1
CPUS               1
REQMEM_TYP        Mc
Name: 1000006, dtype: object

In [ ]:
# IF REQMEM_TYP = Mn
# REQMEM = REQMEM_NO * (NODES/CPUS)
test_mn['REQMEM_NO']

In [ ]:
if test_mc['REQMEM_TYPE'] == 'Mc':
    print(test_mc['REQMEM_NO'])
elif test_mc['REQMEM_TYPE'] == 'Mn':
    print(test_mc['REQMEM_NO'] * (test_mc['NODES']/test_mc['CPU']))