In [1]:
import pandas as pd
import numpy as np
from io import StringIO
import re

import random
from datetime import datetime
from datetime import timedelta
import time
%matplotlib inline

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

Read in data set; change separators to '|' instead of ',' so that node lists don't get cut off

In [3]:
for_pd = StringIO()
with open('../data/accre-jobs-2020.csv') as accre:
    for line in accre:
        new_line = re.sub(r',', '|', line.rstrip(), count=12)
        print (new_line, file=for_pd)

for_pd.seek(0)

accre = pd.read_csv(for_pd, sep='|')#[1000000:1005000] getting the full data set
print (accre)

               JOBID        ACCOUNT       USER    REQMEM    USEDMEM      REQTIME     USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST
0           15925210        treviso   arabella  122880Mn  65973.49M  13-18:00:00  13-18:00:28      1    24  production      0:0  COMPLETED   cn1531
1           15861126        treviso   arabella  122880Mn  67181.12M  13-18:00:00  12-14:50:56      1    24  production      0:0  COMPLETED   cn1441
2           15861125        treviso   arabella  122880Mn  69111.86M  13-18:00:00  13-18:00:20      1    24  production      0:0  COMPLETED   cn1464
3           16251645        treviso   arabella  122880Mn  65317.33M  13-18:00:00  12-03:50:32      1    24  production      0:0  COMPLETED   cn1473
4           16251646        treviso   arabella  122880Mn  65876.11M  13-18:00:00  13-18:00:03      1    24  production      0:0  COMPLETED   cn1440
...              ...            ...        ...       ...        ...          ...          ...    ...   ...         ...      ...        ...      ...
3816285   24173815_8     portabella     vennie   32768Mn  30042.68M   1-00:00:00     00:02:27      1     2  production      0:0  COMPLETED    cn312
3816286   24173815_9     portabella     vennie   32768Mn  31067.75M   1-00:00:00     00:02:27      1     2  production      0:0  COMPLETED    cn312
3816287  24173815_10     portabella     vennie   32768Mn  21207.96M   1-00:00:00     00:01:40      1     2  production      0:0  COMPLETED    cn368
3816288     24173817  boysenberries  hortensia  100000Mn          0   1-00:00:00     00:03:05      1     8  production      0:0    RUNNING   cn1509
3816289     24173866    horseradish     ariane   20480Mn          0     05:00:00     00:02:05      1     1  production      0:0    RUNNING   cn1131

[3816290 rows x 13 columns]

In [4]:
accre.tail()

               JOBID        ACCOUNT       USER    REQMEM    USEDMEM     REQTIME  USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST
3816285   24173815_8     portabella     vennie   32768Mn  30042.68M  1-00:00:00  00:02:27      1     2  production      0:0  COMPLETED    cn312
3816286   24173815_9     portabella     vennie   32768Mn  31067.75M  1-00:00:00  00:02:27      1     2  production      0:0  COMPLETED    cn312
3816287  24173815_10     portabella     vennie   32768Mn  21207.96M  1-00:00:00  00:01:40      1     2  production      0:0  COMPLETED    cn368
3816288     24173817  boysenberries  hortensia  100000Mn          0  1-00:00:00  00:03:05      1     8  production      0:0    RUNNING   cn1509
3816289     24173866    horseradish     ariane   20480Mn          0    05:00:00  00:02:05      1     1  production      0:0    RUNNING   cn1131

In [5]:
accre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3816290 entries, 0 to 3816289
Data columns (total 13 columns):
 #   Column     Dtype
---  ------     -----
 0   JOBID      object
 1   ACCOUNT    object
 2   USER       object
 3   REQMEM     object
 4   USEDMEM    object
 5   REQTIME    object
 6   USEDTIME   object
 7   NODES      int64
 8   CPUS       int64
 9   PARTITION  object
 10  EXITCODE   object
 11  STATE      object
 12  NODELIST   object
dtypes: int64(2), object(11)
memory usage: 378.5+ MB

In [6]:
accre.describe

<bound method NDFrame.describe of                JOBID        ACCOUNT       USER    REQMEM    USEDMEM      REQTIME     USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST
0           15925210        treviso   arabella  122880Mn  65973.49M  13-18:00:00  13-18:00:28      1    24  production      0:0  COMPLETED   cn1531
1           15861126        treviso   arabella  122880Mn  67181.12M  13-18:00:00  12-14:50:56      1    24  production      0:0  COMPLETED   cn1441
2           15861125        treviso   arabella  122880Mn  69111.86M  13-18:00:00  13-18:00:20      1    24  production      0:0  COMPLETED   cn1464
3           16251645        treviso   arabella  122880Mn  65317.33M  13-18:00:00  12-03:50:32      1    24  production      0:0  COMPLETED   cn1473
4           16251646        treviso   arabella  122880Mn  65876.11M  13-18:00:00  13-18:00:03      1    24  production      0:0  COMPLETED   cn1440
...              ...            ...        ...       ...        ...          ...          ...    ...   ...         ...      ...        ...      ...
3816285   24173815_8     portabella     vennie   32768Mn  30042.68M   1-00:00:00     00:02:27      1     2  production      0:0  COMPLETED    cn312
3816286   24173815_9     portabella     vennie   32768Mn  31067.75M   1-00:00:00     00:02:27      1     2  production      0:0  COMPLETED    cn312
3816287  24173815_10     portabella     vennie   32768Mn  21207.96M   1-00:00:00     00:01:40      1     2  production      0:0  COMPLETED    cn368
3816288     24173817  boysenberries  hortensia  100000Mn          0   1-00:00:00     00:03:05      1     8  production      0:0    RUNNING   cn1509
3816289     24173866    horseradish     ariane   20480Mn          0     05:00:00     00:02:05      1     1  production      0:0    RUNNING   cn1131

[3816290 rows x 13 columns]>

In [7]:
accre.PARTITION.value_counts()

production              3311788
nogpfs                   327652
sam                       79151
pascal                    48004
turing                    39406
debug                      6738
maxwell                    3348
cgw-capra1                   83
cgw-dougherty1               72
cgw-cqs1                     34
cgw-vm-qa-flatearth1          4
cgw-cqs3                      4
devel                         2
cgw-rocksteady                2
cgw-tbi01                     2
Name: PARTITION, dtype: int64

In [8]:
accre.STATE.value_counts()

COMPLETED              3804644
CANCELLED                 6107
RUNNING                   3108
FAILED                    1406
CANCELLED by 686562        681
OUT_OF_MEMORY               94
TIMEOUT                     80
CANCELLED by 505355         63
CANCELLED by 855431         17
CANCELLED by 782611         13
CANCELLED by 9206            9
CANCELLED by 397600          7
CANCELLED by 200557          6
CANCELLED by 0               5
CANCELLED by 454080          4
CANCELLED by 199766          4
CANCELLED by 486541          4
CANCELLED by 9201            3
CANCELLED by 9202            3
CANCELLED by 649319          3
CANCELLED by 483348          3
CANCELLED by 124006          2
CANCELLED by 895426          2
CANCELLED by 693461          2
CANCELLED by 199066          2
CANCELLED by 90423           2
CANCELLED by 666860          2
CANCELLED by 546080          2
CANCELLED by 791651          2
CANCELLED by 515423          2
CANCELLED by 785271          1
CANCELLED by 651701          1
CANCELLED by 781109          1
CANCELLED by 337422          1
CANCELLED by 782535          1
CANCELLED by 763605          1
CANCELLED by 503585          1
CANCELLED by 649321          1
Name: STATE, dtype: int64

Separate memory amount from memory units

In [9]:
test_split = accre.loc[1000000,'REQMEM']
test_split

'5000Mn'

In [10]:
re.findall(r'..$', test_split)
# also re.findall(r'\D+', test_split)

['Mn']

In [11]:
re.findall(r'\d+', test_split)

['5000']

Extract req memory quantity only and put it in a new column

In [12]:
accre['REQMEM_NO'] = accre['REQMEM'].str.extract('(\d+)')

In [13]:
accre.head(100)

            JOBID      ACCOUNT       USER    REQMEM     USEDMEM      REQTIME     USEDTIME  NODES  CPUS       PARTITION EXITCODE      STATE    NODELIST REQMEM_NO
0        15925210      treviso   arabella  122880Mn   65973.49M  13-18:00:00  13-18:00:28      1    24      production      0:0  COMPLETED      cn1531    122880
1        15861126      treviso   arabella  122880Mn   67181.12M  13-18:00:00  12-14:50:56      1    24      production      0:0  COMPLETED      cn1441    122880
2        15861125      treviso   arabella  122880Mn   69111.86M  13-18:00:00  13-18:00:20      1    24      production      0:0  COMPLETED      cn1464    122880
3        16251645      treviso   arabella  122880Mn   65317.33M  13-18:00:00  12-03:50:32      1    24      production      0:0  COMPLETED      cn1473    122880
4        16251646      treviso   arabella  122880Mn   65876.11M  13-18:00:00  13-18:00:03      1    24      production      0:0  COMPLETED      cn1440    122880
5        16297022      treviso   arabella  122880Mn   65183.02M  13-18:00:00  12-02:31:43      1    24      production      0:0  COMPLETED      cn1443    122880
6        16297024      treviso   arabella  122880Mn   64941.85M  13-18:00:00  13-06:54:59      1    24      production      0:0  COMPLETED      cn1531    122880
7        16316283      treviso   arabella  122880Mn   68499.51M  13-18:00:00  13-18:00:05      1    24      production      0:0  COMPLETED      cn1535    122880
8        16316284      treviso   arabella  122880Mn   67761.41M  13-18:00:00  13-18:00:15      1    24      production      0:0  COMPLETED      cn1464    122880
9        16316324      treviso   arabella  122880Mn   68087.66M  13-18:00:00  13-18:00:06      1    24      production      0:0  COMPLETED      cn1473    122880
10       16316325      treviso   arabella  122880Mn   68113.75M  13-18:00:00  13-18:00:14      1    24      production      0:0  COMPLETED      cn1536    122880
11       16324564      treviso   arabella  122880Mn   67732.33M  13-18:00:00  12-17:02:59      1    24      production      0:0  COMPLETED      cn1445    122880
12       16324565      treviso   arabella  122880Mn   67294.18M  13-18:00:00  13-02:34:13      1    24      production      0:0  COMPLETED      cn1470    122880
13       16338512      treviso   arabella  122880Mn   67815.17M  13-18:00:00  17-14:55:43      1    24      production      0:0  COMPLETED      cn1439    122880
14       16338513      treviso   arabella  122880Mn   67156.55M  13-18:00:00  13-18:00:24      1    24      production      0:0  COMPLETED      cn1435    122880
15       16355590      treviso   arabella  122880Mn   69549.25M  13-18:00:00  13-18:00:00      1    24      production      0:0  COMPLETED      cn1535    122880
16       16355591      treviso   arabella  122880Mn   69557.56M  13-18:00:00  13-18:00:26      1    24      production      0:0  COMPLETED      cn1533    122880
17       16355592      treviso   arabella  122880Mn   69400.51M  13-18:00:00  13-18:00:22      1    24      production      0:0  COMPLETED      cn1446    122880
18       16355593      treviso   arabella  122880Mn   65773.31M  13-18:00:00  13-18:00:04      1    24      production      0:0  COMPLETED      cn1447    122880
19       16368748      treviso   arabella  122880Mn   66081.39M  13-18:00:00  13-18:00:14      1    24      production      0:0  COMPLETED      cn1470    122880
20       16368749      treviso   arabella  122880Mn   67882.97M  13-18:00:00  13-18:00:03      1    24      production      0:0  COMPLETED      cn1534    122880
21       16368750      treviso   arabella  122880Mn  116156.53M  13-18:00:00  13-08:52:49      1    24      production      0:0  COMPLETED      cn1532    122880
22       16387008      treviso   arabella  122880Mn   66231.43M  13-18:00:00  13-18:00:17      1    24      production      0:0  COMPLETED      cn1459    122880
23       16407707      treviso   arabella  122880Mn   65649.79M  13-18:00:00  13-18:00:26      1    24      production      0:0  COMPLETED      cn1458    122880
24       16601402       mickey     dequan  126976Mn   33829.39M  20-20:00:00  20-20:00:22      1    24  cgw-dougherty1      0:0  COMPLETED  dougherty1    126976
25       16724750         fava     jimena  102400Mn   70400.58M  12-12:00:00  12-12:00:25      1     1      cgw-capra1      0:0  COMPLETED      capra1    102400
26     16793811_0     delblush   gregoria   65536Mn   30894.00M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1431     65536
27     16793811_1     delblush   gregoria   65536Mn    1601.95M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1445     65536
28     16793811_2     delblush   gregoria   65536Mn    1489.33M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1460     65536
29     16793811_3     delblush   gregoria   65536Mn    1555.11M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1449     65536
30     16793811_4     delblush   gregoria   65536Mn    1528.69M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1450     65536
31     16793811_5     delblush   gregoria   65536Mn   33054.96M  12-00:00:00  12-00:00:20      1    16      production      0:0  COMPLETED      cn1430     65536
32     16793811_6     delblush   gregoria   65536Mn   27179.00M  12-00:00:00  12-00:00:02      1    16      production      0:0  COMPLETED      cn1534     65536
33     16793811_7     delblush   gregoria   65536Mn      32735M  12-00:00:00   6-04:58:34      1    16      production      0:0  COMPLETED      cn1436     65536
34     16793811_8     delblush   gregoria   65536Mn   33084.10M  12-00:00:00   6-06:08:45      1    16      production      0:0  COMPLETED      cn1457     65536
35     16793811_9     delblush   gregoria   65536Mn   33062.07M  12-00:00:00   5-05:19:51      1    16      production      0:0  COMPLETED      cn1433     65536
36     16804188_6        fresh     brinda  131072Mn   68334.20M  14-00:00:00  14-00:00:20      1     7      production      0:0  COMPLETED      cn1301    131072
37  16849298_1888  minnewashta  jenniffer   16384Mn     570.09M   2-22:00:00   2-22:00:21      1     1      production      0:0  COMPLETED       cn323     16384
38  16849298_1889  minnewashta  jenniffer   16384Mn     573.45M   2-22:00:00   2-22:00:25      1     1      production      0:0  COMPLETED       cn425     16384
39  16849298_1890  minnewashta  jenniffer   16384Mn     586.41M   2-22:00:00   2-22:00:01      1     1      production      0:0  COMPLETED      cn1127     16384
40  16849298_1892  minnewashta  jenniffer   16384Mn     571.80M   2-22:00:00   2-22:00:01      1     1      production      0:0  COMPLETED      cn1130     16384
41  16849298_1896  minnewashta  jenniffer   16384Mn     585.62M   2-22:00:00   2-15:14:56      1     1      production      0:0  COMPLETED      cn1391     16384
42  16849298_1897  minnewashta  jenniffer   16384Mn     585.10M   2-22:00:00   2-20:52:35      1     1      production      0:0  COMPLETED      cn1392     16384
43  16849298_1898  minnewashta  jenniffer   16384Mn     626.53M   2-22:00:00   2-19:17:20      1     1      production      0:0  COMPLETED      cn1311     16384
44  16849298_1913  minnewashta  jenniffer   16384Mn     586.04M   2-22:00:00   2-15:29:20      1     1      production      0:0  COMPLETED      cn1338     16384
45  16849298_1927  minnewashta  jenniffer   16384Mn     584.00M   2-22:00:00   2-22:00:01      1     1      production      0:0  COMPLETED       cn331     16384
46  16849298_1930  minnewashta  jenniffer   16384Mn     565.45M   2-22:00:00   2-22:00:01      1     1      production      0:0  COMPLETED       cn391     16384
47  16849298_1933  minnewashta  jenniffer   16384Mn     620.59M   2-22:00:00   2-16:31:46      1     1      production      0:0  COMPLETED      cn1306     16384
48  16849298_1934  minnewashta  jenniffer   16384Mn     585.38M   2-22:00:00   2-20:16:58      1     1      production      0:0  COMPLETED      cn1392     16384
49  16849298_1935  minnewashta  jenniffer   16384Mn     585.21M   2-22:00:00   2-18:43:21      1     1      production      0:0  COMPLETED      cn1425     16384
50  16849298_1936  minnewashta  jenniffer   16384Mn     586.03M   2-22:00:00   2-18:16:56      1     1      production      0:0  COMPLETED      cn1284     16384
51  16849298_1940  minnewashta  jenniffer   16384Mn     619.71M   2-22:00:00   2-15:08:42      1     1      production      0:0  COMPLETED      cn1427     16384
52  16849298_1945  minnewashta  jenniffer   16384Mn     570.97M   2-22:00:00   2-22:00:05      1     1      production      0:0  COMPLETED       cn301     16384
53  16849298_1948  minnewashta  jenniffer   16384Mn     566.52M   2-22:00:00   2-22:00:05      1     1      production      0:0  COMPLETED       cn332     16384
54  16849298_1950  minnewashta  jenniffer   16384Mn     584.55M   2-22:00:00   2-15:34:33      1     1      production      0:0  COMPLETED       cn357     16384
55  16849298_1953  minnewashta  jenniffer   16384Mn     568.36M   2-22:00:00   2-22:00:05      1     1      production      0:0  COMPLETED       cn384     16384
56  16849298_1962  minnewashta  jenniffer   16384Mn     567.75M   2-22:00:00   2-22:00:05      1     1      production      0:0  COMPLETED       cn498     16384
57  16849298_1966  minnewashta  jenniffer   16384Mn     570.68M   2-22:00:00   2-22:00:19      1     1      production      0:0  COMPLETED      cn1126     16384
58  16849298_1969  minnewashta  jenniffer   16384Mn     625.86M   2-22:00:00   2-17:56:18      1     1      production      0:0  COMPLETED      cn1391     16384
59  16849298_1970  minnewashta  jenniffer   16384Mn     582.65M   2-22:00:00   2-15:06:32      1     1      production      0:0  COMPLETED      cn1350     16384
60  16849298_1971  minnewashta  jenniffer   16384Mn     581.99M   2-22:00:00   2-18:31:01      1     1      production      0:0  COMPLETED      cn1351     16384
61  16849298_1974  minnewashta  jenniffer   16384Mn     565.13M   2-22:00:00   2-22:00:22      1     1      production      0:0  COMPLETED       cn365     16384
62  16849298_1977  minnewashta  jenniffer   16384Mn     566.56M   2-22:00:00   2-22:00:22      1     1      production      0:0  COMPLETED       cn376     16384
63  16849298_1978  minnewashta  jenniffer   16384Mn     565.82M   2-22:00:00   2-22:00:22      1     1      production      0:0  COMPLETED       cn377     16384
64  16849298_1980  minnewashta  jenniffer   16384Mn     629.94M   2-22:00:00   2-13:04:27      1     1      production      0:0  COMPLETED       cn475     16384
65  16849298_1981  minnewashta  jenniffer   16384Mn     569.18M   2-22:00:00   2-22:00:22      1     1      production      0:0  COMPLETED       cn475     16384
66  16849298_1982  minnewashta  jenniffer   16384Mn     569.25M   2-22:00:00   2-22:00:22      1     1      production      0:0  COMPLETED       cn353     16384
67  16849298_1983  minnewashta  jenniffer   16384Mn     570.44M   2-22:00:00   2-22:00:23      1     1      production      0:0  COMPLETED       cn354     16384
68  16849298_1984  minnewashta  jenniffer   16384Mn     569.72M   2-22:00:00   2-22:00:23      1     1      production      0:0  COMPLETED       cn354     16384
69  16849298_1985  minnewashta  jenniffer   16384Mn     583.88M   2-22:00:00   2-18:19:03      1     1      production      0:0  COMPLETED       cn399     16384
70  16849298_1986  minnewashta  jenniffer   16384Mn     624.04M   2-22:00:00   2-14:57:21      1     1      production      0:0  COMPLETED       cn399     16384
71  16849298_1988  minnewashta  jenniffer   16384Mn     572.09M   2-22:00:00   2-22:00:16      1     1      production      0:0  COMPLETED       cn368     16384
72  16849298_1989  minnewashta  jenniffer   16384Mn     579.71M   2-22:00:00   2-22:00:16      1     1      production      0:0  COMPLETED       cn387     16384
73  16849298_1991  minnewashta  jenniffer   16384Mn     566.36M   2-22:00:00   2-22:00:16      1     1      production      0:0  COMPLETED       cn424     16384
74  16849298_1992  minnewashta  jenniffer   16384Mn        570M   2-22:00:00   2-22:00:16      1     1      production      0:0  COMPLETED       cn305     16384
75  16849298_1996  minnewashta  jenniffer   16384Mn     585.77M   2-22:00:00   2-15:51:31      1     1      production      0:0  COMPLETED       cn444     16384
76  16849298_1997  minnewashta  jenniffer   16384Mn     585.51M   2-22:00:00   2-12:08:34      1     1      production      0:0  COMPLETED       cn444     16384
77  16849298_1998  minnewashta  jenniffer   16384Mn     584.30M   2-22:00:00   2-22:00:16      1     1      production      0:0  COMPLETED       cn477     16384
78  16849298_2002  minnewashta  jenniffer   16384Mn     571.16M   2-22:00:00   2-22:00:16      1     1      production      0:0  COMPLETED       cn417     16384
79  16849298_2003  minnewashta  jenniffer   16384Mn     572.98M   2-22:00:00   2-22:00:16      1     1      production      0:0  COMPLETED       cn417     16384
80  16849298_2004  minnewashta  jenniffer   16384Mn     583.80M   2-22:00:00   2-22:00:16      1     1      production      0:0  COMPLETED       cn441     16384
81  16849298_2010  minnewashta  jenniffer   16384Mn     568.97M   2-22:00:00   2-22:00:30      1     1      production      0:0  COMPLETED       cn361     16384
82  16849298_2011  minnewashta  jenniffer   16384Mn     567.84M   2-22:00:00   2-22:00:30      1     1      production      0:0  COMPLETED       cn363     16384
83  16849298_2012  minnewashta  jenniffer   16384Mn        569M   2-22:00:00   2-22:00:30      1     1      production      0:0  COMPLETED       cn372     16384
84  16849298_2014  minnewashta  jenniffer   16384Mn     561.69M   2-22:00:00   2-22:00:30      1     1      production      0:0  COMPLETED       cn444     16384
85  16849298_2016  minnewashta  jenniffer   16384Mn     567.14M   2-22:00:00   2-22:00:30      1     1      production      0:0  COMPLETED       cn481     16384
86  16849298_2017  minnewashta  jenniffer   16384Mn     570.71M   2-22:00:00   2-22:00:30      1     1      production      0:0  COMPLETED       cn308     16384
87  16849298_2018  minnewashta  jenniffer   16384Mn     564.11M   2-22:00:00   2-22:00:30      1     1      production      0:0  COMPLETED       cn309     16384
88  16849298_2020  minnewashta  jenniffer   16384Mn     573.15M   2-22:00:00   2-22:00:30      1     1      production      0:0  COMPLETED       cn493     16384
89  16849298_2021  minnewashta  jenniffer   16384Mn     565.23M   2-22:00:00   2-22:00:30      1     1      production      0:0  COMPLETED       cn390     16384
90  16849298_2025  minnewashta  jenniffer   16384Mn     582.55M   2-22:00:00   2-20:13:43      1     1      production      0:0  COMPLETED      cn1338     16384
91  16849298_2043  minnewashta  jenniffer   16384Mn     583.03M   2-22:00:00   2-20:20:39      1     1      production      0:0  COMPLETED      cn1397     16384
92  16849298_2044  minnewashta  jenniffer   16384Mn     620.80M   2-22:00:00   2-14:50:50      1     1      production      0:0  COMPLETED      cn1398     16384
93  16849298_2046  minnewashta  jenniffer   16384Mn     587.42M   2-22:00:00   2-00:23:02      1     1      production      0:0  COMPLETED      cn1271     16384
94  16849298_2047  minnewashta  jenniffer   16384Mn     583.83M   2-22:00:00   2-15:35:02      1     1      production      0:0  COMPLETED      cn1269     16384
95  16849298_2049  minnewashta  jenniffer   16384Mn     585.45M   2-22:00:00   2-16:34:03      1     1      production      0:0  COMPLETED      cn1270     16384
96  16849298_2051  minnewashta  jenniffer   16384Mn     592.07M   2-22:00:00   2-21:32:03      1     1      production      0:0  COMPLETED      cn1394     16384
97  16849298_2052  minnewashta  jenniffer   16384Mn     583.86M   2-22:00:00   2-20:03:06      1     1      production      0:0  COMPLETED      cn1392     16384
98  16849298_2053  minnewashta  jenniffer   16384Mn     585.82M   2-22:00:00   2-14:25:26      1     1      production      0:0  COMPLETED      cn1392     16384
99  16849298_2056  minnewashta  jenniffer   16384Mn     620.85M   2-22:00:00   2-13:08:19      1     1      production      0:0  COMPLETED      cn1276     16384

Extract req memory units (type) only and put it in a new column

In [14]:
accre['REQMEM_TYPE'] = accre['REQMEM'].str.extract('(\D+)')

In [15]:
# convert column values to numeric values
accre['REQMEM_NO'] = pd.to_numeric(accre['REQMEM_NO'])

In [16]:
# isolate Mc req memory units only
accre[accre['REQMEM_TYPE'] == 'Mc']

                JOBID   ACCOUNT     USER  REQMEM   USEDMEM     REQTIME    USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST  REQMEM_NO REQMEM_TYPE
705       17013893_10       cep    codie  4096Mc  1725.41M  7-00:00:00  2-15:47:46      1     1  production      0:0  COMPLETED    cn421       4096          Mc
706       17013952_31       cep    codie  4096Mc  1733.61M  7-00:00:00  2-15:44:35      1     1  production      0:0  COMPLETED   cn1394       4096          Mc
2423     17043861_149       cep    sasha  1024Mc   375.44M  1-04:00:00  1-02:35:35      1     1  production      0:0  COMPLETED   cn1090       1024          Mc
2424     17043861_159       cep    sasha  1024Mc   375.38M  1-04:00:00  1-04:00:08      1     1  production      0:0  COMPLETED   cn1093       1024          Mc
2425     17043861_160       cep    sasha  1024Mc   375.32M  1-04:00:00  1-04:00:22      1     1  production      0:0  COMPLETED   cn1093       1024          Mc
...               ...       ...      ...     ...       ...         ...         ...    ...   ...         ...      ...        ...      ...        ...         ...
3816132      24173475       cms   lailah  1024Mc    62.46M  1-20:00:00    00:00:47      1     1  production      0:0  COMPLETED    cn394       1024          Mc
3816144      24173491  cmsadmin  autocms  4096Mc   869.54M    12:00:00    00:04:19      1     1  production      0:0  COMPLETED    cn421       4096          Mc
3816175      24173567       cms   lailah  1024Mc  1014.77M  1-20:00:00    00:05:20      1     1  production      0:0  COMPLETED    cn394       1024          Mc
3816215      24173661  cmsadmin  autocms  4096Mc   860.03M    12:00:00    00:03:50      1     1  production      0:0  COMPLETED    cn394       4096          Mc
3816236      24173696       cms   lailah  4096Mc         0  1-20:00:00    00:09:30      1     1  production      0:0    RUNNING    cn425       4096          Mc

[817814 rows x 15 columns]

In [17]:
accre.head(10)

      JOBID  ACCOUNT      USER    REQMEM    USEDMEM      REQTIME     USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST  REQMEM_NO REQMEM_TYPE
0  15925210  treviso  arabella  122880Mn  65973.49M  13-18:00:00  13-18:00:28      1    24  production      0:0  COMPLETED   cn1531     122880          Mn
1  15861126  treviso  arabella  122880Mn  67181.12M  13-18:00:00  12-14:50:56      1    24  production      0:0  COMPLETED   cn1441     122880          Mn
2  15861125  treviso  arabella  122880Mn  69111.86M  13-18:00:00  13-18:00:20      1    24  production      0:0  COMPLETED   cn1464     122880          Mn
3  16251645  treviso  arabella  122880Mn  65317.33M  13-18:00:00  12-03:50:32      1    24  production      0:0  COMPLETED   cn1473     122880          Mn
4  16251646  treviso  arabella  122880Mn  65876.11M  13-18:00:00  13-18:00:03      1    24  production      0:0  COMPLETED   cn1440     122880          Mn
5  16297022  treviso  arabella  122880Mn  65183.02M  13-18:00:00  12-02:31:43      1    24  production      0:0  COMPLETED   cn1443     122880          Mn
6  16297024  treviso  arabella  122880Mn  64941.85M  13-18:00:00  13-06:54:59      1    24  production      0:0  COMPLETED   cn1531     122880          Mn
7  16316283  treviso  arabella  122880Mn  68499.51M  13-18:00:00  13-18:00:05      1    24  production      0:0  COMPLETED   cn1535     122880          Mn
8  16316284  treviso  arabella  122880Mn  67761.41M  13-18:00:00  13-18:00:15      1    24  production      0:0  COMPLETED   cn1464     122880          Mn
9  16316324  treviso  arabella  122880Mn  68087.66M  13-18:00:00  13-18:00:06      1    24  production      0:0  COMPLETED   cn1473     122880          Mn

In [18]:
# testing out math for memory conversions
test_mn = accre.loc[1000000, ['REQMEM_NO', 'REQMEM', 'NODES', 'CPUS', 'REQMEM_TYPE']]
test_mn['CPUS'] = pd.to_numeric(1)
test_mn

REQMEM_NO        5000
REQMEM         5000Mn
NODES               1
CPUS                1
REQMEM_TYPE        Mn
Name: 1000000, dtype: object

In [19]:
test_mc = accre.loc[1000006, ['REQMEM_NO', 'REQMEM', 'NODES', 'CPUS', 'REQMEM_TYPE']]
test_mc['CPUS'] = pd.to_numeric(1)
test_mc

REQMEM_NO        2048
REQMEM         2048Mc
NODES               1
CPUS                1
REQMEM_TYPE        Mc
Name: 1000006, dtype: object

In [20]:
if test_mc['REQMEM_TYPE'] == 'Mc':
    print(test_mc['REQMEM_NO'])
elif test_mc['REQMEM_TYPE'] == 'Mn':
    print(test_mc['REQMEM_NO'] * (test_mc['NODES']/test_mc['CPUS']))

2048

In [21]:
if test_mn['REQMEM_TYPE'] == 'Mc':
    print(test_mn['REQMEM_NO'])
elif test_mn['REQMEM_TYPE'] == 'Mn':
    print(test_mn['REQMEM_NO'] * (test_mn['NODES']/test_mn['CPUS']))

5000.0

In [22]:
accre['REQMEM_PER_CORE'] = np.where((accre['REQMEM_TYPE'] == 'Mn'), \
                                      (accre['REQMEM_NO'] * (accre['NODES']/accre['CPUS'])), \
                                       accre['REQMEM_NO'])

accre.head(50)

            JOBID      ACCOUNT       USER    REQMEM     USEDMEM      REQTIME     USEDTIME  NODES  CPUS       PARTITION EXITCODE      STATE    NODELIST  REQMEM_NO REQMEM_TYPE  REQMEM_PER_CORE
0        15925210      treviso   arabella  122880Mn   65973.49M  13-18:00:00  13-18:00:28      1    24      production      0:0  COMPLETED      cn1531     122880          Mn      5120.000000
1        15861126      treviso   arabella  122880Mn   67181.12M  13-18:00:00  12-14:50:56      1    24      production      0:0  COMPLETED      cn1441     122880          Mn      5120.000000
2        15861125      treviso   arabella  122880Mn   69111.86M  13-18:00:00  13-18:00:20      1    24      production      0:0  COMPLETED      cn1464     122880          Mn      5120.000000
3        16251645      treviso   arabella  122880Mn   65317.33M  13-18:00:00  12-03:50:32      1    24      production      0:0  COMPLETED      cn1473     122880          Mn      5120.000000
4        16251646      treviso   arabella  122880Mn   65876.11M  13-18:00:00  13-18:00:03      1    24      production      0:0  COMPLETED      cn1440     122880          Mn      5120.000000
5        16297022      treviso   arabella  122880Mn   65183.02M  13-18:00:00  12-02:31:43      1    24      production      0:0  COMPLETED      cn1443     122880          Mn      5120.000000
6        16297024      treviso   arabella  122880Mn   64941.85M  13-18:00:00  13-06:54:59      1    24      production      0:0  COMPLETED      cn1531     122880          Mn      5120.000000
7        16316283      treviso   arabella  122880Mn   68499.51M  13-18:00:00  13-18:00:05      1    24      production      0:0  COMPLETED      cn1535     122880          Mn      5120.000000
8        16316284      treviso   arabella  122880Mn   67761.41M  13-18:00:00  13-18:00:15      1    24      production      0:0  COMPLETED      cn1464     122880          Mn      5120.000000
9        16316324      treviso   arabella  122880Mn   68087.66M  13-18:00:00  13-18:00:06      1    24      production      0:0  COMPLETED      cn1473     122880          Mn      5120.000000
10       16316325      treviso   arabella  122880Mn   68113.75M  13-18:00:00  13-18:00:14      1    24      production      0:0  COMPLETED      cn1536     122880          Mn      5120.000000
11       16324564      treviso   arabella  122880Mn   67732.33M  13-18:00:00  12-17:02:59      1    24      production      0:0  COMPLETED      cn1445     122880          Mn      5120.000000
12       16324565      treviso   arabella  122880Mn   67294.18M  13-18:00:00  13-02:34:13      1    24      production      0:0  COMPLETED      cn1470     122880          Mn      5120.000000
13       16338512      treviso   arabella  122880Mn   67815.17M  13-18:00:00  17-14:55:43      1    24      production      0:0  COMPLETED      cn1439     122880          Mn      5120.000000
14       16338513      treviso   arabella  122880Mn   67156.55M  13-18:00:00  13-18:00:24      1    24      production      0:0  COMPLETED      cn1435     122880          Mn      5120.000000
15       16355590      treviso   arabella  122880Mn   69549.25M  13-18:00:00  13-18:00:00      1    24      production      0:0  COMPLETED      cn1535     122880          Mn      5120.000000
16       16355591      treviso   arabella  122880Mn   69557.56M  13-18:00:00  13-18:00:26      1    24      production      0:0  COMPLETED      cn1533     122880          Mn      5120.000000
17       16355592      treviso   arabella  122880Mn   69400.51M  13-18:00:00  13-18:00:22      1    24      production      0:0  COMPLETED      cn1446     122880          Mn      5120.000000
18       16355593      treviso   arabella  122880Mn   65773.31M  13-18:00:00  13-18:00:04      1    24      production      0:0  COMPLETED      cn1447     122880          Mn      5120.000000
19       16368748      treviso   arabella  122880Mn   66081.39M  13-18:00:00  13-18:00:14      1    24      production      0:0  COMPLETED      cn1470     122880          Mn      5120.000000
20       16368749      treviso   arabella  122880Mn   67882.97M  13-18:00:00  13-18:00:03      1    24      production      0:0  COMPLETED      cn1534     122880          Mn      5120.000000
21       16368750      treviso   arabella  122880Mn  116156.53M  13-18:00:00  13-08:52:49      1    24      production      0:0  COMPLETED      cn1532     122880          Mn      5120.000000
22       16387008      treviso   arabella  122880Mn   66231.43M  13-18:00:00  13-18:00:17      1    24      production      0:0  COMPLETED      cn1459     122880          Mn      5120.000000
23       16407707      treviso   arabella  122880Mn   65649.79M  13-18:00:00  13-18:00:26      1    24      production      0:0  COMPLETED      cn1458     122880          Mn      5120.000000
24       16601402       mickey     dequan  126976Mn   33829.39M  20-20:00:00  20-20:00:22      1    24  cgw-dougherty1      0:0  COMPLETED  dougherty1     126976          Mn      5290.666667
25       16724750         fava     jimena  102400Mn   70400.58M  12-12:00:00  12-12:00:25      1     1      cgw-capra1      0:0  COMPLETED      capra1     102400          Mn    102400.000000
26     16793811_0     delblush   gregoria   65536Mn   30894.00M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1431      65536          Mn      4096.000000
27     16793811_1     delblush   gregoria   65536Mn    1601.95M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1445      65536          Mn      4096.000000
28     16793811_2     delblush   gregoria   65536Mn    1489.33M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1460      65536          Mn      4096.000000
29     16793811_3     delblush   gregoria   65536Mn    1555.11M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1449      65536          Mn      4096.000000
30     16793811_4     delblush   gregoria   65536Mn    1528.69M  12-00:00:00  12-00:00:06      1    16      production      0:0  COMPLETED      cn1450      65536          Mn      4096.000000
31     16793811_5     delblush   gregoria   65536Mn   33054.96M  12-00:00:00  12-00:00:20      1    16      production      0:0  COMPLETED      cn1430      65536          Mn      4096.000000
32     16793811_6     delblush   gregoria   65536Mn   27179.00M  12-00:00:00  12-00:00:02      1    16      production      0:0  COMPLETED      cn1534      65536          Mn      4096.000000
33     16793811_7     delblush   gregoria   65536Mn      32735M  12-00:00:00   6-04:58:34      1    16      production      0:0  COMPLETED      cn1436      65536          Mn      4096.000000
34     16793811_8     delblush   gregoria   65536Mn   33084.10M  12-00:00:00   6-06:08:45      1    16      production      0:0  COMPLETED      cn1457      65536          Mn      4096.000000
35     16793811_9     delblush   gregoria   65536Mn   33062.07M  12-00:00:00   5-05:19:51      1    16      production      0:0  COMPLETED      cn1433      65536          Mn      4096.000000
36     16804188_6        fresh     brinda  131072Mn   68334.20M  14-00:00:00  14-00:00:20      1     7      production      0:0  COMPLETED      cn1301     131072          Mn     18724.571429
37  16849298_1888  minnewashta  jenniffer   16384Mn     570.09M   2-22:00:00   2-22:00:21      1     1      production      0:0  COMPLETED       cn323      16384          Mn     16384.000000
38  16849298_1889  minnewashta  jenniffer   16384Mn     573.45M   2-22:00:00   2-22:00:25      1     1      production      0:0  COMPLETED       cn425      16384          Mn     16384.000000
39  16849298_1890  minnewashta  jenniffer   16384Mn     586.41M   2-22:00:00   2-22:00:01      1     1      production      0:0  COMPLETED      cn1127      16384          Mn     16384.000000
40  16849298_1892  minnewashta  jenniffer   16384Mn     571.80M   2-22:00:00   2-22:00:01      1     1      production      0:0  COMPLETED      cn1130      16384          Mn     16384.000000
41  16849298_1896  minnewashta  jenniffer   16384Mn     585.62M   2-22:00:00   2-15:14:56      1     1      production      0:0  COMPLETED      cn1391      16384          Mn     16384.000000
42  16849298_1897  minnewashta  jenniffer   16384Mn     585.10M   2-22:00:00   2-20:52:35      1     1      production      0:0  COMPLETED      cn1392      16384          Mn     16384.000000
43  16849298_1898  minnewashta  jenniffer   16384Mn     626.53M   2-22:00:00   2-19:17:20      1     1      production      0:0  COMPLETED      cn1311      16384          Mn     16384.000000
44  16849298_1913  minnewashta  jenniffer   16384Mn     586.04M   2-22:00:00   2-15:29:20      1     1      production      0:0  COMPLETED      cn1338      16384          Mn     16384.000000
45  16849298_1927  minnewashta  jenniffer   16384Mn     584.00M   2-22:00:00   2-22:00:01      1     1      production      0:0  COMPLETED       cn331      16384          Mn     16384.000000
46  16849298_1930  minnewashta  jenniffer   16384Mn     565.45M   2-22:00:00   2-22:00:01      1     1      production      0:0  COMPLETED       cn391      16384          Mn     16384.000000
47  16849298_1933  minnewashta  jenniffer   16384Mn     620.59M   2-22:00:00   2-16:31:46      1     1      production      0:0  COMPLETED      cn1306      16384          Mn     16384.000000
48  16849298_1934  minnewashta  jenniffer   16384Mn     585.38M   2-22:00:00   2-20:16:58      1     1      production      0:0  COMPLETED      cn1392      16384          Mn     16384.000000
49  16849298_1935  minnewashta  jenniffer   16384Mn     585.21M   2-22:00:00   2-18:43:21      1     1      production      0:0  COMPLETED      cn1425      16384          Mn     16384.000000

In [23]:
accre['USEDMEM_TYPE'] = accre['USEDMEM'].str.extract('(\D$)')

In [24]:
accre['USEDMEM_NO'] = accre['USEDMEM'].str.extract('(\d+)')

In [25]:
accre.head()

      JOBID  ACCOUNT      USER    REQMEM    USEDMEM      REQTIME     USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST  REQMEM_NO REQMEM_TYPE  REQMEM_PER_CORE USEDMEM_TYPE USEDMEM_NO
0  15925210  treviso  arabella  122880Mn  65973.49M  13-18:00:00  13-18:00:28      1    24  production      0:0  COMPLETED   cn1531     122880          Mn           5120.0            M      65973
1  15861126  treviso  arabella  122880Mn  67181.12M  13-18:00:00  12-14:50:56      1    24  production      0:0  COMPLETED   cn1441     122880          Mn           5120.0            M      67181
2  15861125  treviso  arabella  122880Mn  69111.86M  13-18:00:00  13-18:00:20      1    24  production      0:0  COMPLETED   cn1464     122880          Mn           5120.0            M      69111
3  16251645  treviso  arabella  122880Mn  65317.33M  13-18:00:00  12-03:50:32      1    24  production      0:0  COMPLETED   cn1473     122880          Mn           5120.0            M      65317
4  16251646  treviso  arabella  122880Mn  65876.11M  13-18:00:00  13-18:00:03      1    24  production      0:0  COMPLETED   cn1440     122880          Mn           5120.0            M      65876

In [26]:
accre['USEDMEM_NO'] = pd.to_numeric(accre['USEDMEM_NO'])

In [27]:
accre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3816290 entries, 0 to 3816289
Data columns (total 18 columns):
 #   Column           Dtype
---  ------           -----
 0   JOBID            object
 1   ACCOUNT          object
 2   USER             object
 3   REQMEM           object
 4   USEDMEM          object
 5   REQTIME          object
 6   USEDTIME         object
 7   NODES            int64
 8   CPUS             int64
 9   PARTITION        object
 10  EXITCODE         object
 11  STATE            object
 12  NODELIST         object
 13  REQMEM_NO        int64
 14  REQMEM_TYPE      object
 15  REQMEM_PER_CORE  float64
 16  USEDMEM_TYPE     object
 17  USEDMEM_NO       int64
dtypes: float64(1), int64(4), object(13)
memory usage: 524.1+ MB

In [28]:
accre['USEDMEM_PER_CORE'] = accre['USEDMEM_NO'] / accre['CPUS']

In [29]:
accre.head(10)

      JOBID  ACCOUNT      USER    REQMEM    USEDMEM      REQTIME     USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST  REQMEM_NO REQMEM_TYPE  REQMEM_PER_CORE USEDMEM_TYPE  USEDMEM_NO  USEDMEM_PER_CORE
0  15925210  treviso  arabella  122880Mn  65973.49M  13-18:00:00  13-18:00:28      1    24  production      0:0  COMPLETED   cn1531     122880          Mn           5120.0            M       65973       2748.875000
1  15861126  treviso  arabella  122880Mn  67181.12M  13-18:00:00  12-14:50:56      1    24  production      0:0  COMPLETED   cn1441     122880          Mn           5120.0            M       67181       2799.208333
2  15861125  treviso  arabella  122880Mn  69111.86M  13-18:00:00  13-18:00:20      1    24  production      0:0  COMPLETED   cn1464     122880          Mn           5120.0            M       69111       2879.625000
3  16251645  treviso  arabella  122880Mn  65317.33M  13-18:00:00  12-03:50:32      1    24  production      0:0  COMPLETED   cn1473     122880          Mn           5120.0            M       65317       2721.541667
4  16251646  treviso  arabella  122880Mn  65876.11M  13-18:00:00  13-18:00:03      1    24  production      0:0  COMPLETED   cn1440     122880          Mn           5120.0            M       65876       2744.833333
5  16297022  treviso  arabella  122880Mn  65183.02M  13-18:00:00  12-02:31:43      1    24  production      0:0  COMPLETED   cn1443     122880          Mn           5120.0            M       65183       2715.958333
6  16297024  treviso  arabella  122880Mn  64941.85M  13-18:00:00  13-06:54:59      1    24  production      0:0  COMPLETED   cn1531     122880          Mn           5120.0            M       64941       2705.875000
7  16316283  treviso  arabella  122880Mn  68499.51M  13-18:00:00  13-18:00:05      1    24  production      0:0  COMPLETED   cn1535     122880          Mn           5120.0            M       68499       2854.125000
8  16316284  treviso  arabella  122880Mn  67761.41M  13-18:00:00  13-18:00:15      1    24  production      0:0  COMPLETED   cn1464     122880          Mn           5120.0            M       67761       2823.375000
9  16316324  treviso  arabella  122880Mn  68087.66M  13-18:00:00  13-18:00:06      1    24  production      0:0  COMPLETED   cn1473     122880          Mn           5120.0            M       68087       2836.958333

In [30]:
# time required and used; conversion to seconds
# Create a function to split the hh:mm:ss string and calculate seconds from it
def to_sec(x):
    h,m,s = map(int,x.split(':'))
    return (h*60+m)*60+s

In [31]:
# Separate out the days from REQTIME, put them in another column, convert to a number, fill NaN with 0, convert to seconds
accre['REQTIME_DAY_SEC'] = accre['REQTIME'].str.extract('(\d+)-')
accre['REQTIME_DAY_SEC'] = pd.to_numeric(accre['REQTIME_DAY_SEC'])
accre['REQTIME_DAY_SEC'] = accre['REQTIME_DAY_SEC'].fillna(0)
accre['REQTIME_DAY_SEC'] = accre['REQTIME_DAY_SEC']*24*60*60
# Extract the hh:mm:ss from REQTIME, put in a new column, and then apply the to_sec function 
accre['REQTIME_T'] = accre['REQTIME'].str.extract('(..:..:..)$')
# REQTIME_SEC includes total seconds from REQTIME
accre['REQTIME_SEC'] = accre['REQTIME_T'].apply(to_sec) + accre['REQTIME_DAY_SEC']
# Do the same for USEDTIME
accre['USEDTIME_DAY_SEC'] = accre['USEDTIME'].str.extract('(\d+)-')
accre['USEDTIME_DAY_SEC'] = pd.to_numeric(accre['USEDTIME_DAY_SEC'])
accre['USEDTIME_DAY_SEC'] = accre['USEDTIME_DAY_SEC'].fillna(0)
accre['USEDTIME_DAY_SEC'] = accre['USEDTIME_DAY_SEC']*24*60*60
# Do the same for USEDTIME
accre['USEDTIME_T'] = accre['USEDTIME'].str.extract('(..:..:..)$')
# USEDTIME_SEC includes total second from USEDTIME
accre['USEDTIME_SEC'] = accre['USEDTIME_T'].apply(to_sec) + accre['USEDTIME_DAY_SEC']
# Check to make sure the data types look okay
accre.head(20)

       JOBID  ACCOUNT      USER    REQMEM    USEDMEM      REQTIME     USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST  REQMEM_NO REQMEM_TYPE  REQMEM_PER_CORE USEDMEM_TYPE  USEDMEM_NO  USEDMEM_PER_CORE  REQTIME_DAY_SEC REQTIME_T  REQTIME_SEC  USEDTIME_DAY_SEC USEDTIME_T  USEDTIME_SEC
0   15925210  treviso  arabella  122880Mn  65973.49M  13-18:00:00  13-18:00:28      1    24  production      0:0  COMPLETED   cn1531     122880          Mn           5120.0            M       65973       2748.875000        1123200.0  18:00:00    1188000.0         1123200.0   18:00:28     1188028.0
1   15861126  treviso  arabella  122880Mn  67181.12M  13-18:00:00  12-14:50:56      1    24  production      0:0  COMPLETED   cn1441     122880          Mn           5120.0            M       67181       2799.208333        1123200.0  18:00:00    1188000.0         1036800.0   14:50:56     1090256.0
2   15861125  treviso  arabella  122880Mn  69111.86M  13-18:00:00  13-18:00:20      1    24  production      0:0  COMPLETED   cn1464     122880          Mn           5120.0            M       69111       2879.625000        1123200.0  18:00:00    1188000.0         1123200.0   18:00:20     1188020.0
3   16251645  treviso  arabella  122880Mn  65317.33M  13-18:00:00  12-03:50:32      1    24  production      0:0  COMPLETED   cn1473     122880          Mn           5120.0            M       65317       2721.541667        1123200.0  18:00:00    1188000.0         1036800.0   03:50:32     1050632.0
4   16251646  treviso  arabella  122880Mn  65876.11M  13-18:00:00  13-18:00:03      1    24  production      0:0  COMPLETED   cn1440     122880          Mn           5120.0            M       65876       2744.833333        1123200.0  18:00:00    1188000.0         1123200.0   18:00:03     1188003.0
5   16297022  treviso  arabella  122880Mn  65183.02M  13-18:00:00  12-02:31:43      1    24  production      0:0  COMPLETED   cn1443     122880          Mn           5120.0            M       65183       2715.958333        1123200.0  18:00:00    1188000.0         1036800.0   02:31:43     1045903.0
6   16297024  treviso  arabella  122880Mn  64941.85M  13-18:00:00  13-06:54:59      1    24  production      0:0  COMPLETED   cn1531     122880          Mn           5120.0            M       64941       2705.875000        1123200.0  18:00:00    1188000.0         1123200.0   06:54:59     1148099.0
7   16316283  treviso  arabella  122880Mn  68499.51M  13-18:00:00  13-18:00:05      1    24  production      0:0  COMPLETED   cn1535     122880          Mn           5120.0            M       68499       2854.125000        1123200.0  18:00:00    1188000.0         1123200.0   18:00:05     1188005.0
8   16316284  treviso  arabella  122880Mn  67761.41M  13-18:00:00  13-18:00:15      1    24  production      0:0  COMPLETED   cn1464     122880          Mn           5120.0            M       67761       2823.375000        1123200.0  18:00:00    1188000.0         1123200.0   18:00:15     1188015.0
9   16316324  treviso  arabella  122880Mn  68087.66M  13-18:00:00  13-18:00:06      1    24  production      0:0  COMPLETED   cn1473     122880          Mn           5120.0            M       68087       2836.958333        1123200.0  18:00:00    1188000.0         1123200.0   18:00:06     1188006.0
10  16316325  treviso  arabella  122880Mn  68113.75M  13-18:00:00  13-18:00:14      1    24  production      0:0  COMPLETED   cn1536     122880          Mn           5120.0            M       68113       2838.041667        1123200.0  18:00:00    1188000.0         1123200.0   18:00:14     1188014.0
11  16324564  treviso  arabella  122880Mn  67732.33M  13-18:00:00  12-17:02:59      1    24  production      0:0  COMPLETED   cn1445     122880          Mn           5120.0            M       67732       2822.166667        1123200.0  18:00:00    1188000.0         1036800.0   17:02:59     1098179.0
12  16324565  treviso  arabella  122880Mn  67294.18M  13-18:00:00  13-02:34:13      1    24  production      0:0  COMPLETED   cn1470     122880          Mn           5120.0            M       67294       2803.916667        1123200.0  18:00:00    1188000.0         1123200.0   02:34:13     1132453.0
13  16338512  treviso  arabella  122880Mn  67815.17M  13-18:00:00  17-14:55:43      1    24  production      0:0  COMPLETED   cn1439     122880          Mn           5120.0            M       67815       2825.625000        1123200.0  18:00:00    1188000.0         1468800.0   14:55:43     1522543.0
14  16338513  treviso  arabella  122880Mn  67156.55M  13-18:00:00  13-18:00:24      1    24  production      0:0  COMPLETED   cn1435     122880          Mn           5120.0            M       67156       2798.166667        1123200.0  18:00:00    1188000.0         1123200.0   18:00:24     1188024.0
15  16355590  treviso  arabella  122880Mn  69549.25M  13-18:00:00  13-18:00:00      1    24  production      0:0  COMPLETED   cn1535     122880          Mn           5120.0            M       69549       2897.875000        1123200.0  18:00:00    1188000.0         1123200.0   18:00:00     1188000.0
16  16355591  treviso  arabella  122880Mn  69557.56M  13-18:00:00  13-18:00:26      1    24  production      0:0  COMPLETED   cn1533     122880          Mn           5120.0            M       69557       2898.208333        1123200.0  18:00:00    1188000.0         1123200.0   18:00:26     1188026.0
17  16355592  treviso  arabella  122880Mn  69400.51M  13-18:00:00  13-18:00:22      1    24  production      0:0  COMPLETED   cn1446     122880          Mn           5120.0            M       69400       2891.666667        1123200.0  18:00:00    1188000.0         1123200.0   18:00:22     1188022.0
18  16355593  treviso  arabella  122880Mn  65773.31M  13-18:00:00  13-18:00:04      1    24  production      0:0  COMPLETED   cn1447     122880          Mn           5120.0            M       65773       2740.541667        1123200.0  18:00:00    1188000.0         1123200.0   18:00:04     1188004.0
19  16368748  treviso  arabella  122880Mn  66081.39M  13-18:00:00  13-18:00:14      1    24  production      0:0  COMPLETED   cn1470     122880          Mn           5120.0            M       66081       2753.375000        1123200.0  18:00:00    1188000.0         1123200.0   18:00:14     1188014.0

In [32]:
accre.to_csv(r'../data/accre-jobs-2020-clean.csv', index = False)

In [33]:
# breaking up node lists
nodelist = failed['NODELIST'].unique().tolist()
nodelist_nums = [i.strip('cn').strip('[').strip(']') for i in nodelist]
for n in nodelist_nums:
    if ',' in n: 
        nodes = n.split(',')
        if '-' in n:
            nodes = n.split('-')
            low, high = int(nodes[0]), int(nodes[1])       
        else:
            nodes = int(n)

NameError: name 'failed' is not defined